*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

canvas{
    background-color: rgb(1, 93, 93);
    position: absolute;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    background-color: wheat;
    position: absolute;
    right: 3%;
    top: 3%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
}

button:hover{
    background-color: rgb(225, 204, 165);
    box-shadow: 4px 4px 2px #333;
}
